
GMTK/Temp/UnityLockfile
GMTK/.vs/GMTK/v15/.suo
GMTK/.vs/GMTK/v15/Server/sqlite3/storage.ide-wal
GMTK/Assembly-CSharp.csproj
GMTK/Assets/Inimigo.cs
GMTK/Assets/Inimigo.cs.meta
GMTK/Assets/Scenes/Dias.unity
GMTK/Assets/Scenes/Dias.unity.meta
GMTK/Library/assetDatabase3
GMTK/Library/CrashedAssetImports.txt
GMTK/Library/metadata/55/559db7a886786f74683002ac3b04187a
GMTK/Library/metadata/55/559db7a886786f74683002ac3b04187a.info
GMTK/Library/metadata/de/de3eab969e688d841a13a5e7d6914dd2
GMTK/Library/metadata/de/de3eab969e688d841a13a5e7d6914dd2.info
GMTK/Library/ScriptAssemblies/Assembly-CSharp.dll
GMTK/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
GMTK/Library/ScriptAssemblies/BuiltinAssemblies.stamp
GMTK/Library/shadercompiler-UnityShaderCompiler.exe0.log
GMTK/obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
GMTK/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GMTK/Temp/__Backupscenes/0.backup
GMTK/Temp/UnityTempFile-b7c86b02056f1d64eab2e19977ade4aa
GMTK/Temp/UnityTempFile-efd93086d0d82f84392ebbf883536826
GMTK/Library/shadercompiler-UnityShaderCompiler.exe0.log
GMTK/Library/ScriptAssemblies/BuiltinAssemblies.stamp
GMTK/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
GMTK/Library/ScriptAssemblies/Assembly-CSharp.dll
